<!DOCTYPE html>
<html>

<head>
    <title>Student Detail</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="container">
        <h3><a href="/students">Busquedas</a></h3>
        <h1>Student Detail</h1>
        <% if (student){ %>

        <h4>No Grupo:</h4>    <h4><%= student.no_group %></h4>
        <table>
            <tbody>
                <tr>
                    <td>Nombre</td>
                    <td>:</td>
                    <td><%= student.name %></td>
                </tr>
                <tr>
                    <td>Carne</td>
                    <td>:</td>
                    <td><%= student.carne %></td>
                </tr>
                <tr>
                    <td>DPI</td>
                    <td>:</td>
                    <td><%= student.dpi %></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>:</td>
                    <td><%= student.email %></td>
                </tr>
                <tr>
                    <td>Semestre</td>
                    <td>:</td>
                    <td><%= student.semester %></td>
                </tr>
                <tr>
                    <td>Año</td>
                    <td>:</td>
                    <td><%= student.year %></td>
                </tr>
            </tbody>
        </table>
        <h3><a href="/students/edit/<%= student._id%>">EDIT</a></h3>
        <h3><a href="/students/remove/<%= student._id%>">DELETE</a></h3>
        <% }else { %>
        <h4>No Grupo:</h4>    <h4>0</h4>
        <h3>El estudiante no existe</h3>

        <% } %>

    </div>
</body>

</html>